td,
th {
    /*border: 3px solid #2d302e;*/
    text-align: center;
    padding: 8px;
}

.table tr,
th,
td {
    border: 1px solid black;
}


}

.fa-file-alt {
    color: #0ea3e8;
}

.fa-edit {
    color: #0f8c2a;
}

.fa-globe {
    color: #db7d09;
}

.newPost {
    /*margin: 100px 150px 100px 80px;*/
    margin: right;
}

.hide {
    border: 3px solid #fff;
}

.center {
    text-align: center !important;
}

.create {
    padding: 0;
    margin: 0 !important;
}

td>form {
    margin-bottom: 0 !important;
}

input {
    /* background-color: #4CAF50 !important;*/
    /*color: white;*/
    text-align: left;
    text-decoration: none;
    display: inline-block;
    /*width: 100%;*/
    font-size: 16px;
}

h2 {
    position: relative;
    text-align: center;
}

table {
    position: relative;
    margin-bottom: 50px;
}

.alignment-left {
    text-align: left;
}

.createpost {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2px;
    padding-right: initial;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 50px;
}

ul:after {
    clear: both;
}

ul li {
    background: #dddddd;
    width: 35px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    margin-right: 1px;
}

a {
    text-decoration: none;
}

ul li.active {
    color: white;
    background: blue;
}

.active a {
    color: white;
}

.tbody {
    border-top: 1px solid black !important;
}

.border-top {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

.width15 {
    width: 15%;
}

.width10 {
    width: 10%;
}

.table thead th {
    vertical-align: middle;
}

#div_pagination{
    width:100%;
    margin-top:5px;
    text-align:center;
}

.button{
    border-radius:3px;
    border:0px;
    background-color:mediumpurple !important;
    color:white;
    padding:10px 20px;
    letter-spacing: 1px;
}